[Unit]
Description=Work Log
After=graphical.target
StartLimitIntervalSec=3600
StartLimitBurst=720

[Service]
Environment="DISPLAY=:0"
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/php /var/www/work_log/work_log.php

[Install]
WantedBy=default.target