[Unit]
Description=Work Log Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/php /var/www/work_log/work_log.php
Restart=on-failure

[Install]
WantedBy=graphical-session.target